@import '../../vars.scss';

.one {
    overflow-x: hidden;
    text-align: center;
    font-size: 18px;
    
    form {
        margin-top: 5vh;

        label {
            display: block;
            margin: 20px 10px 0;
            color: $second-col;
        }
        select,
        input,
        textarea {
            width: 80vw;
            font-size: 18px;
            border: 1px solid $prime-col;
            padding: 3px 6px;
        }
        .teeth-colors {
            margin-top: 30px;

            .square-colors {
                margin-top: 20px;

                span {
                    display: inline-block;
                    width: 110px;
                    height: 24px;
                    border: 2px solid grey;
                    margin: 5px 20px;
                    padding: 4px;
                    font-size: 16px;
                    color: rgb(255, 255, 255);
                    text-shadow: 0 0 15px rgb(70, 70, 70);

                    &:hover {
                        cursor: crosshair;
                    }
                    &.eraser {
                        color: black;
                        font-weight: bold;
                        text-shadow: 0 0 0;
                    }
                    &:nth-child(1) {background-color: red;}
                    &:nth-child(2) {background-color: blue;}
                    &:nth-child(3) {background-color: yellow;}
                    &:nth-child(4) {background-color: green;}
                    &:nth-child(5) {background-color: skyblue;}
                    &:nth-child(6) {background-color: navajowhite;}
                }
            }
            .dents {
                margin-top: 25px;
                background-color: rgb(150, 243, 165);

                & > div {
                    background-color: $second-col;

                    & > .tooth div {
                        display: inline-block;
                        width: 45px;
                        height: 60px;
                        margin: 2px;
                        border: 5px solid white;
                        background-color: navajowhite;
                        overflow: hidden;

                        span {
                            display: block;
                            height: 20px;
                            border-bottom: 1px solid rgb(255, 255, 255);
                            font-size: 15px;
                        }
                    }
                    &.superior  {
                        padding-bottom: 20px;
                        .tooth div {
                            border-radius: 0 0 20px 20px;
                        }
                        .anterior div {
                            &.canine {
                                width: 40px;
                                border-radius: 0 0 50% 50%;
                                padding: 3px 0;
                            }
                            &.mid {
                                margin-bottom: 5px;
                                width: 50px;
                            }
                        }
                    }
                    &.inferior {
                        margin-top: 2px;
                        padding-top: 30px;
                        .tooth div {
                            border-radius: 20px 20px 0 0;
                        }
                        .anterior div {
                            &.nin {
                                width: 40px;
                                border-radius: 50% 50% 0 0;
                            }
                        }
                    } 
                }
            }
        }
        button {
            width: 200px;
            font-size: 20px;
            padding: 2px;
            margin: 15px 0;
        }
    } 
}

